{{#if todos.length}}
  <ul>
    {{#each todos}}
      <li class="todo">
        <form action="/complete" method="post">
          {{#if completed}}
            <input type="checkbox" checked name="completed" />
            <span class="completed">{{title}}</span>
          {{else}}
            <input type="checkbox" name="completed" />
            <span>{{title}}</span>
          {{/if}}
          <input type="hidden" name="id" value="{{_id}}" />
          <button class="btn btn-small" type="submit">Update</button>
        </form>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No todos yet!</p>
{{/if}}
`;